h1{
    color: red;
}
h2{
    color: chartreuse;
}
h3{
    color: black;
    display: inline-block;
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    font-family: monospace;
}
p{
    color: rgb(234, 22, 100);
}
/* layout */
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
/* home page */
.sub-title{
    background-color: #eeff00;
}
.btn{
    background-color: #eeff00;
    font-family: monospace;
}
.light-bg{
    background-color: silver;
}
#name{
    -webkit-text-stroke: 1px #ff0000;
    color: white;

}
/* color 
#98
#FF8931-YELLOW
#000000-BLACK
#FEFEFE-WHITE
#OOOOOO-LIGHT SILVER*/
.prof-bg{
    background-color: silver;
}
.res-bg{
    background-color: silver;
}

